* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS", sans-serif;
}

/* 
.navbar {
    border: 2px solid black;
    padding: 10px;
    margin: 2px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease;
}

.navbar a {
    size: ;
}

.navbar a:hover {
    color: gray;
} */
